---
apiVersion: v1
kind: ConfigMap
metadata:
  name: payslip-config
  labels:
    app: payslip
  namespace: payslip
data:  
  STORE_NAME: "cert/JKSkeystore1.jks"
  SECRET_ALIAS: "selfsignedjks"
  NOTIFICATION_HOST: "https://paysliplistener.com"
  LIFECYCLE_HOST: "https://paysliplistener.com"
  SUBSCRIPTION_DURATION: "120"
  PAYDAY_CHECK: "false"
  OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: "http://k8s-mon-alloy-receiver.monitoring.svc.cluster.local:4317"
